
/* NAVIGATION- STYLES */
.f1{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    padding: 10px 20px;
    align-items: center;
        gap: 40px;

}
.f3{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}